@font-face {
  font-family: "RoseMadina";
  src: url("../Shared/Fonts/Rose Madina Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "RoseMadina", sans-serif;
  background: #f8f8f8;
  font-size: 13px;
}

.product {
  margin: 30px;
  background: #fff;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 300px;
}

#cart-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 30px;
  cursor: pointer;
  z-index: 1001;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.overlay.show {
  display: block;
}

.cart-sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  max-width: 400px;
  height: 100%;
  background: #fffce5;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow-y: auto;
  transition: right 0.3s;
  z-index: 1002;
}

.cart-sidebar.open {
  right: 0;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px;
}

.close-btn {
  cursor: pointer;
  font-size: 24px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.cart-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-details h4 {
  margin: 0 0 5px;
  font-size: 16px;
}

.cart-item input {
  width: 50px;
  padding: 5px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-left: 10px;
}

.cart-footer {
  margin-top: 30%;
  font-size: 18px;
  text-align: center;
}

.checkout-btn {
  width: 100%;
  padding: 12px;
  background: #b19ddf;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.remove-btn {
  color: red;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  padding: 0;
}
.remove-btn:hover {
  text-decoration: none;
}
.cart-footer button {
  border: 1px solid;
  border-radius: 5px;
  background-color: b19ddf;
  cursor: pointer;
  color: black;
  justify-content: center;
  padding: 15px 20px;
}
