@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "RoseMadina";
  src: url("../Shared/Fonts/Rose Madina Regular.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "RoseMadina", sans-serif;
  display: flex;
  height: 100vh;
}

.left-panel {
  width: 35%;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-panel img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.right-panel {
  width: 50%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 600;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 14px;
}

.forgot-password {
  font-family: "Archivo", sans-serif;
  font-size: 13px;
  color: #7e8d87;
  margin-bottom: 20px;
  display: inline-block;
}

.login-btn {
  background-color: #b19ddf;
  color: black;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-top: 30px;
}

.login-btn:hover {
  background-color: #b4ddff;
  transition: background-color 0.3s ease-in-out;
}

.or-divider {
  font-family: "Archivo", sans-serif;
  text-align: center;
  margin: 20px 0;
  font-size: 14px;
  color: #555;
}

.signup-link {
  font-family: "Archivo", sans-serif;
  text-align: center;
  font-size: 14px;
  color: #333;
  margin-top: 57px;
}

.signup-link a {
  font-family: "Archivo", sans-serif;
  color: #b19ddf;
  text-decoration: none;
  font-weight: 600;
  text-decoration: underline;
}
.signup-link a:hover {
  text-decoration: none;
}

#message.error {
  font-family: "Archivo", sans-serif;
  color: red;
  margin-top: -165px;
}

.error-message {
  font-family: "Archivo", sans-serif;
  color: red;

  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 18px;
}
/* ==== RESPONSIVE BREAKPOINTS ==== */
/* Mobile: 320px - 768px */
/* Tablet: 769px - 1024px */
/* Desktop: 1025px+ */
@media (max-width: 450px) {
  .left-panel {
    display: none;
  }
  .right-panel {
    width: 100%;
  }
  input[type="email"],
  input[type="password"] {
    width: 90%;
    margin: 10px auto;
  }
}
